
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("untrodden.png", alt: "Rails logo") %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" style="padding-bottom:25px; padding-top:20px">
        <li><a href="login" class="btn btn-info" role="button">Sign in with Google</a> </li>
      </ul>
    </div>
  </div>
</nav>
</br></br></br></br></br></br>




</body>
</html>
