
<!DOCTYPE html>
<html>
  <head>
    <title>Google Auth Example App</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>

      <% if current_user %>
      <br/>
      <div class="container">
      <strong><a href="#" class="btn btn-success" role="button">  Signed in as <%= current_user.first_name %>  !</a></strong>
      <br/> <br/>
       <strong><a href="calender" class="btn btn-info" role="button">  Calender !</a></strong> 
      <br/><br/>

      <h2>INFO about User</h2>
      <table class="table table-hover">
        <tbody>

              <% current_user.attributes.each do |k, v| %>
            	<tr>	<td><b><%= k %> </td>   <td> </b> <%= v %> </td>  </tr>
            	<% end %>


        </tbody>
      </table>




        <a href="logout" class="btn btn-danger" role="button">logout</a>

      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
    <div>
    <%= yield %>
    </div>
    </div>
  </body>
</html>
